@media only screen and (max-width: 991.98px) {
    * {}
    body {
        font-size: 14px;
    }
    .solutionArea {
        padding: 35px;
    }
    .solutionArea .content::before {
        right: -11%;
    }
    .solutionArea .content h3 {
        font-size: 1.5em;
    }
    .solutionArea .solution-info {
        padding-left: 40px;
    }
    .solutionArea .solution-info i {
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 25px;
        left: 20px;
    }
    .solutionArea .solution-info h3 {
        font-size: 1.5em;
    }
    .teamSec .teamItem .teamDescription h3 {
    font-size: 1.3em;
}

.teamSec .teamItem .teamDescription span {
    font-size: 1em;
}
}